.footer-container {
  background-color: #0e1218;
  text-align: center;
  border-top: 1px solid #cfd1d411;
  padding: 50px 0 30px;
}

.footer {
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
}

.footer-logo {
  width: 150px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  line-height: 0;
}

.contact p span {
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  margin: 20px 0;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links a,
.socials a {
  color: #cfd1d4;
}

@media (min-width: 1280px) {
  .footer {
    font-size: 15px;
  }
  .footer-contact,
  .other-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    width: 200px;
  }
  .contact {
    gap: 40px;
  }
  .other-links .links {
    display: none;
  }
  .socials {
    gap: 20px;
  }
}
