nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: none;
}

@media (min-width: 1280px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    flex-basis: 20%;
  }

  ul {
    flex-basis: 50%;
  }

  ul li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }

  ul li .btn {
    font-weight: 600;
    color: #cfd1d4;
    background-color: transparent;
    border: 2px solid #cfd1d4;
    border-radius: 500px;
    padding: 10px 25px;
  }
}
