.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-head {
  text-transform: capitalize;
  padding: 20px 0;
  font-size: 28px;
  letter-spacing: 1px;
}

.hero-para {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

input,
.submit-btn {
  color: #cfd1d4;
  background-color: transparent;
  border: 1px solid #cfd1d47c;
  border-radius: 500px;
  padding: 15px 25px;
  margin: 10px 0;
}

input:focus {
  outline: none;
}

.submit-btn {
  transition: all 0.1s linear;
}

.submit-btn:hover {
  color: #fff;
  background-color: #7e0fe1;
  border: 1px solid #7e0fe1;
  cursor: pointer;
}

.hero-img {
  width: 100%;
  margin: 50px 0;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-links a {
  color: #cfd1d4;
}

.scroll-img {
  display: none;
}

@media (min-width: 1280px) {
  .hero-container {
    text-align: start;
  }
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-form {
    flex-basis: 50%;
  }
  .hero-head {
    font-size: 45px;
  }
  .hero-para {
    font-size: 18px;
  }
  .form {
    width: 60%;
  }
  .hero-img {
    flex-basis: 50%;
    width: 60%;
  }
  .social-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
  .social-links {
    width: max-content;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .scroll-img {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .scroll-img img {
    height: 40px;
  }
  .scroll-img img:hover {
    transform: scale(-1, -1);
  }
}
